<nav>
  @if(!authService.isLoggedIn()){
    <a routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Login</a>
  }
  @if (authService.isAdmin()){
    <a routerLink="admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Admin</a>
  }
  @if (authService.isLoggedIn()){
    <a routerLink = "home" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
    <button (click)="logout()">Déconnexion</button>
  }
  
</nav>
<router-outlet></router-outlet>