<!-- @if (haha(); as h){
    @for (posts of [h]; track posts.id){
        <pre>{{ posts | json }}</pre>
    }
} @else {
    <p>Chargement</p>
} -->

<h2>Posts</h2>

@if (showForm()){
    <app-post-form-component 
        (newP)="addPost($event)">
    </app-post-form-component>
}

<button (click)="toggleForm()">{{ showForm() ? 'Cancel' : 'AddPost' }}</button>

<ul>
    @if (posts(); as p){
        @for (posts of p; track posts.id){
        <li>
            <pre> {{posts | json}}</pre>
        </li>
        }
    }
</ul>